# Environment Variables File [Only needed if using dotenv]
.env
.env.test
# Directories [Required]
node_modules/*
.vscode/*
# Logs [Only needed if logging to any of these files]
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# Config Files [Only needed if using config.json]
config.json
# Package Lock Files [Required to prevent issues with git pull and git clone when hosting on VPS]
package-lock.json
